<div class="py-4">
  <h2 class="my-3">Lista de participantes</h2>
  <hr />

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">A침os de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody class="skaters">
  </table>
  <a href="/login">Iniciar Sesi칩n</a> |
  <a href="/registro">Registrarme</a> |
  <a href="/admin">Administraci칩n</a>
  <script>
    const getSkaters = async () => {
      try {
        const response = await axios.get("http://localhost:3000/api/skaters");
        const skatersTable = document.querySelector(".skaters");
        const skaters = response.data;
        skatersTable.innerHTML = "";

        skaters.forEach((skater) => {
          const estadoText = skater.estado ? "Aprobado" : "En revisi칩n";
          const estadoClass = skater.estado ? "text-success font-weight-bold" : "text-warning font-weight-bold";

          skatersTable.insertAdjacentHTML('beforeend', `
            <tr>
              <td>${skater.id}</td>
              <td><img src="img/${skater.foto}.jpeg" alt="imagen de perfil skater"></td>
              <td>${skater.nombre}</td>
              <td>${skater.anos_experiencia}</td>
              <td>${skater.especialidad}</td>
              <td class="${estadoClass}">${estadoText}</td>
            </tr>
          `);
        });

      } catch (error) {
        console.error('Error al obtener los skaters:', error);
      }
    };

    getSkaters();
  </script>
</div>
