<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form id="loginForm">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input name="email" type="email" class="form-control w-50 m-auto" required />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control w-50 m-auto" required />
      </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
  </form>

<script>
    const loginForm = document.querySelector('#loginForm');

    loginForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = e.target.email.value;
      const password = e.target.password.value;

      try {
        const { data } = await axios.post('/api/login', { email, password });
        const token = data.token;

        localStorage.setItem('token', token);
        alert('Credenciales correctas... redirigiendo al perfil del skater');
        window.location.href = "/perfil";

      } catch (error) {
        console.error("Error en inicio de sesión:", error);
        alert('Error al iniciar sesión: ' + error.response.data.msg);
      }
    });
  </script>
</div>

